<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Password Generator</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/styles_light.css}">
    </head>
    <body>
        <div class="bar__header">
            <p class="bar__header--title">Password Generator</p>
            <a href="/darkmode" class="bar__header--link">Dark Mode</a>
        </div>
        <form action="#" th:action="@{/generateLight}" th:object="${passwordForm}" method="post" class="form__box">
            <label class="form__box--title box__element">Password Form</label>
            <select name="pass_lenght" th:field="*{passLenght}" class="form__box--options box__element">
                <option th:each="option : ${selectMenu}" th:value="${option}" th:text="${option + ' characters'}"></option>
            </select>
            <div class="form__box--checkbox box__element--checkbox">
                <input type="checkbox" th:field="*{letters}">
                <span>Letters</span>
            </div>
            <div class="form__box--checkbox box__element--checkbox">
                <input type="checkbox" th:field="*{digits}">
                <span>Digits</span>
            </div>
            <div class="form__box--checkbox box__element--checkbox">
                <input type="checkbox" th:field="*{symbols}">
                <span>Symbols</span>
            </div>
            <button type="submit" class="form__box--button box__element">Submit</button>
            <div th:if="${password}" class="form__box--password box__element">
                <p th:text="${password}"></p>
            </div>
        </form>
    </body>
</html>